<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--페이지 로딩 속도 위해 js footer에 위치 / bootstrap.js의 경우 jquery에 의존하므로 jquery.js 다음에 호출-->
<!--index.js 추가-->
<!--src/main/resources/static 안의 /js,/css,/image 등 정적파일의 경로 > 스프링 부트가 절대경로로 변환 -->
<script src="/js/app/index.js"></script>
</body>
</html>