<!DOCTYPE HTML>
<html>
<head>
    <!--layout 방식은 중복되는 공통 영역을 별도의 파일로 분리하여 필요할 때 가져다 쓰는 방식.-->
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--페이지 로딩 속도를 위해 css를 header에 위치-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>